
* {           
	margin: 0;
	padding: 0;
	
}


html {
	margin: 0;
	background-color: white;
	
}
#nav_list ul {
	list-style-type: none;
	float:right;
}

#nav_list ul li {
	float:left;
}

#nav_list ul li a {
	text-align: center;
	display: block;
	width: 95px;
	text-decoration: none;
	background-color: blue;
	color: white;
}

#nav_list ul li a.lastmenu {
	border-right: none;
}

#nav_list ul li a:hover, #nav_list ul li a:focus {
	background-color: gray;
}
header {
	background-color:blue;
	margin-bottom: 1em;
}


#owl{
	padding: 1em;
	
}


#nav_menu ul {
	list-style-type: none;
	position: relative;
	margin: 1em;
	padding-left: 10em;
	display: none;
	
}

/*#nav_menu ul li {
	float: left;
	color: #b37700;
	padding: 1em;
	width: 120px;
}

#nav_menu ul ul li { 
	
	float: none;
	position: absolute;
	top: 100%;
	left: 0%;
	width: 120px;

}


#nav_menu ul li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #008080;
	background-color: black;
	padding: 1em;
}


#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: #00cccc;
}

#nav_menu ul ul li {
	display: none;
}


#nav_menu ul li:hover > ul li {

	display: block;
}


#nav_menu > ul::after {
	
	content:" ";
	display: block;
	clear: both;
	}*/
	
#nav_foot ul ul {
	display: none;
	position: absolute;
	top: 100%;
	
}



h1 {
	background-color:#ffbf00;
	border: 2px solid black;
	text-align: left;
	color:#13589b;
	
}

#professor {
	
	padding-left:10em;
	
}

#nav_foot ul li{
	text-align:left;
	list-style-type:none;
	background-color:#13589b;
	padding-bottom:2em;
	width:100%;
	padding-top:2em;
	padding-left:2em;
}

h2{
	font-size:18px;
	padding-left:3em;
}


#video{
	text-align:right;
	padding:2em;
}

#china{
	float:right;
	padding:2em;
}

#textbox ul li{
	padding-bottom:2em;
}



#textbox{
padding-top:2em;
padding-left:15em;
padding-bottom: 2em;
width:350px;
}	

p{
	float:right;
	padding-right:5em;
	width:350px;
	font-size:100%;

	
}


body {
	margin: auto;
	width: 85%;
	background-color:  #b37700;
	
	
}

footer {
	clear:both;
	border: 2px solid black;
	
	background-color:#13589b;
}


#copyright {
	clear: both;
	padding-left:2em;
	
}

#footer_list ul{
	padding-right:2em;
	list-style-type:square;
	padding-top:2em;
	padding-bottom:1em;
	float:right;
}
#footer_list ul li a{
	text-align: center;
	width: 95px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}
#footer_list ul li {
	padding-bottom:1em;
	float:left;
	padding:2em;
}


#footer_list ul li a:hover, #footer_list ul li a:focus{
	color:gold;
}


@media only screen and (max-width: 320px, max-height: 480px) {
	#nav_menu {
		display: none;
	}


	
	main {
		font-size: 90%;
		width: 100%;
	}
	
	/*#sidebarA {
		float: none;
		width: 100%;
	}*/
	
	body {
		width: 100%;
		border: none;
		
	}



	
html {
		
		width: 160%;
}


